
/* .nav-wrapper {
    background-color: rgb(65, 64, 64);
} */

@import url('https://fonts.googleapis.com/css?family=Varela+Round|Viga&display=swap');

body, html {
    height: 100%;
    display: grid;
  }

h1 {
    font-size: 3em;
    font-family: 'Viga', sans-serif;
    margin-top: 0;
    color: #fff;
}

body {
    background: url(./images/markus-spiske-xekxE_VR0Ec-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

textarea {
    background-color: #9a9898;
}
.container.passcontain {
    background-color:#262727;
    padding: 3em;
    max-width: 50em;
    margin: auto;
    border-radius: .4em;
    box-shadow: 5px 5px 10px rgb(61, 60, 60);
    font-family: 'Varela Round', sans-serif;
}

.containtitle {
    text-align: center;
}

#copyBoard {
    background-color: transparent;
    border: transparent;
    padding: 0;
    cursor: pointer;
    color: #3e8a83;
    
}

#numOfCharacters {
    width: 2.5em;
    height: 2em;
    background-color: #9a9898;
}

.numberLabel {
    padding-left: 3px;
    font-size: 1rem;
}

@media screen and (max-width: 750px) {
    form > div > button.btn.col.s12.m4.center.submitBtn {
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
    h1 {
        font-size: 2em;
    }
    row {
        font-size: .10px;
    }
    form > div > button.btn.col.s12.m4.center.submitBtn {
        width: 55%;
    }
}

@media screen and (max-width: 475px) {
    form > div > button.btn.col.s12.m4.center.submitBtn {
        width: 100%;
    }
}

@media screen and (max-width: 401px) {
    h1 {
        font-size: 1.42em;
    }
    #passwordGeneratorForm {
        font-size: 13px;
    }
}

@media screen and (max-width: 330px) {

    .numberLabel {
        font-size: 12px;
    }

    #numOfCharacters {
        font-size: 12px;
        width: 2em;
    }
}