
/* .nav-wrapper {
    background-color: rgb(65, 64, 64);
} */

body, html {
    height: 100%;
    display: grid;
  }

h1 {
    font-size: 3em;
    margin-top: 0;
}

body {
    background: url(./images/markus-spiske-xekxE_VR0Ec-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

textarea {
    background-color: #fff;
}
.container.passcontain {
    background-color: rgb(155, 185, 175);
    padding: 3em;
    max-width: 50em;
    margin: auto;
    border-radius: .4em;
    box-shadow: 5px 5px 10px rgb(61, 60, 60);
}

.containtitle {
    text-align: center;
}
